.header {
	background-size: cover;
	.bg_header {
		background: rgba(0,0,0,0.5);
		width: 100%;
		height: auto;
		.top_header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding-top: 40px;
			padding-bottom: 25px;
			.logo {
				.logo_mobile {
					display: none;
				}
			}
			.phone {
				a {
					.icon {
						color: #b18248;
						padding-right: 8px;
					}
					color: #fefefe;
					font-size: 24px;
					line-height: 14px;
					@include GothamProMedium();
					text-decoration: none;
					&:hover {
						.icon {
							color: #966f3e;
							transition: all 200ms ease-in-out;
						}
						opacity: 0.7;
						transition: all 200ms ease-in-out;					
					}
				}
			}
			.email {
				a {
					.icon {
						font-size: 20px;
						color: #b18248;
						padding-right: 8px;
					}
					color: #fefefe;
					font-size: 18px;
					line-height: 14px;
					@include GothamProRegular();
					text-decoration: none;
					transition: all 200ms ease-in-out;
					&:hover {
						.icon {
							color: #966f3e;
							transition: all 200ms ease-in-out;
						}
						opacity: 0.7;
						transition: all 200ms ease-in-out;					
					}
				}
			}
		}
		.nav_btn {
			display: none;
		}
		.nav {
			background-color: #b18248;
			width: 100%;
			margin-bottom: 50px;
			ul {
				display: flex;
				align-items: center;
				justify-content: center;
				height: 50px;
				li {
					a {
						text-transform: uppercase;
						color: #fff;
						font-size: 15px;
						line-height: 14px;
						@include GothamProRegular();
						text-decoration: none;
						line-height: 50px;
						padding: 0 22px;
						display: inline-block;
						transition: all 200ms ease-in-out;
						&:hover {
							background: #966f3e;
							transition: all 200ms ease-in-out;
						}
					}
				}
			}
		}
		.center_box {
			display: flex;
			justify-content: space-between;
			padding-bottom: 80px;
			.left_section {
				width: 68%;
				.title {
					.caps {
						text-transform: uppercase;
					}
					font-size: 45px;
					@include GothamProBold();
					line-height: 48px;
					color: #fff;
					margin-bottom: 70px;
				}
				.sub_title {
					font-size: 22px;
					@include GothamProLight();
					line-height: 30px;
					color: #fff;
					margin-bottom: 30px;
				}
				.btn_click {
					background: #b18248;
					color: #fff;
					font-size: 18px;
					line-height: 70px;
					letter-spacing: 2px;
					text-decoration: none;
					text-transform: uppercase;
					@include GothamProMedium();
					padding: 25px 130px;
					transition: all 200ms ease-in-out;
					&:hover {
						background: #966f3e;
						transition: all 200ms ease-in-out;
					}
				}
			}
			.right_section {
				width: 30%;
				.form_block {
					background: rgba(0,0,0,0.5);
					padding: 30px 28px;
					text-align: center;
					margin-bottom: 25px;
					form {
						position: relative;
					}
					.title_form {
						color: #fff;
						font-size: 16px;
						text-transform: uppercase;
						line-height: 30px;
						@include GothamProRegular();
						display: inline-block;
						margin-bottom: 35px;
					}
					.input_box {
						margin-bottom: 60px;
						.input_block {
							margin-bottom: 50px;
							input[type="text"], input[type="tel"], input[type="email"] {
								background: transparent;
								border: none;
								border-bottom: 1px solid #b18248;
								outline:none;
								padding: 0 3px;
								width: 90%;
								transition: all 200ms ease-in-out;
								color: #fff;
								font-size: 14px;

								@include GothamProLight();
								&:focus {

									&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
										color: rgba(255,255,255,0);
									}
									&::-moz-placeholder { /* Firefox 19+ */
									  	color: rgba(255,255,255,0);

									}
									&:-ms-input-placeholder { /* IE 10+ */
									  	color: rgba(255,255,255,0);

									}
									&:-moz-placeholder { /* Firefox 18- */
									  	color: rgba(255,255,255,0);

									}
								}
								&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
									color: rgba(255,255,255,0.7);
									font-size: 10px;
								}
								&::-moz-placeholder { /* Firefox 19+ */
								  	color: rgba(255,255,255,0.7);
								  	font-size: 10px;
								}
								&:-ms-input-placeholder { /* IE 10+ */
								  	color: rgba(255,255,255,0.7);
								  	font-size: 10px;
								}
								&:-moz-placeholder { /* Firefox 18- */
								  	color: rgba(255,255,255,0.7);
								  	font-size: 10px;
								}
							}
							span.wpcf7-not-valid-tip {
								color: #fff;
								@include GothamProLight();
								font-size: 12px;
								width: 100%;
								position: absolute;
								left: 50%;
								top: 20px;
								transform: translateX(-50%) translateY(0px);
							}
						}
					}
					.submit_box {
						.submit {
							background: #b18248;
							color: #fff;
							font-size: 14px;
							padding-top: 23px;
							padding-bottom: 23px;
							letter-spacing: 1px;
							text-decoration: none;
							text-transform: uppercase;
							@include GothamProMedium();
							border: none;
							cursor: pointer;
							width: 100%;
							transition: all 200ms ease-in-out;
							&:hover {
								background: #966f3e;
								transition: all 200ms ease-in-out;
							}
						}
					}
					div.wpcf7-validation-errors {
						display: none !important;
					}
					div.wpcf7-mail-sent-ng, div.wpcf7-acceptance-missing, div.wpcf7-mail-sent-ok {
						color: #fff;
						@include GothamProLight();
						font-size: 12px;
						width: 100%;
						position: absolute;
						left: 50%;
						bottom: -25px;
						margin: 0;
						transform: translateX(-50%) translateY(0px);
					}
				}
				.soc_box {
					text-align: center;
					.soc_text {
						color: #fff;
						font-size: 12px;
						@include GothamProLight();
						margin-bottom: 12px;
						display: inline-block;
					}
					.social {
						display: flex;
						align-items: center;
						justify-content: center;
						.round {
							font-size: 14px;
							color: #fff;
							border-radius: 100%;
							width: 25px;
							height: 25px;
							line-height: 25px;
							text-align: center;
							display: inline-block;
							transition: all 200ms ease-in-out;
							&:hover {
								background: transparent !important;
								transition: all 200ms ease-in-out;
							}
							&:not(:last-child) {
								margin-right: 10px;
							}
							&.facebook {
								background: #23599c;
								border: 1px solid #23599c;
							}
							&.twitter {
								background: #00adf0;
								border: 1px solid #00adf0;
							}
							&.vk {
								background: #376d94;
								border: 1px solid #376d94;
							}
							&.youtube {
								background: #ff0000;
								border: 1px solid #ff0000;
							}
						}
						.instagram {
							font-size: 30px;
							color: #e44055;
							transition: all 200ms ease-in-out;
							 
							&:hover {
								color: #f38b38;
								transition: all 200ms ease-in-out;
							}
						}
					}
				}
			}
		}
	}
}

.about {
	padding-bottom: 100px;
	background: #fff;
	.title_about {
		font-size: 48px;
		color: #000;
		line-height: 48px;
		@include GothamProBold();
		padding-top: 50px;
		padding-bottom: 60px;
		text-align: center;
	}
	.about_text {
		font-size: 15px;
		color: #000;
		line-height: 22px;
		@include GothamProRegular();
		padding-bottom: 80px;
	}
	.advantage_slider {
		.slider_navigation {
			position: relative;
			top: 70px;
			.left {
				position: absolute;
				left: -20px;
				cursor: pointer;
				.fa-angle-left {
					font-size: 22px;
					color: #b18248;
				}
			}
			.right {
				position: absolute;
				right: -20px;
				cursor: pointer;
				.fa-angle-right {
					font-size: 22px;
					color: #b18248;
				}
			}
		}
	}
	.advantage {
		display: flex;
		.slick-slide {
			padding: 0 20px;
		}
		.list {
			width: 33.33333%;
			&:not(:last-child) {
				padding-right: 70px;
			}			
			.title_block {
				display: flex;
				align-items: center;
				height: 90px;
				margin-bottom: 10px;
				.title_advantage {
					font-size: 24px;
					color: #000;
					@include GothamProMedium();
					padding-left: 15px;
				}
			}
			.advantage_text {
				font-size: 15px;
				color: #000;
				line-height: 20px;
				@include GothamProRegular();
			}
		}
	}
}

@media (max-width: 1200px) {
	.wrapper {
		max-width: 960px;
	}
	.header {
		.bg_header {
			.top_header {
				.phone {
					a {
						font-size: 20px;
					}
				}
				.email {
					a {
						.icon {
							font-size: 18px;
						}
						font-size: 16px;
					}
				}
			}
			.center_box {
				.left_section {
					.title {
						font-size: 36px;
						line-height: 40px;
						margin-bottom: 50px;
					}
					.sub_title {
						font-size: 20px;
						line-height: 26px;
					}
					.btn_click {
						font-size: 16px;
						line-height: 50px;
						padding: 20px 100px;
					}
				}
				.right_section {
					.form_block {
						.title_form {
							font-size: 13px;
							line-height: 20px;
							margin-bottom: 30px;
						}
						.input_box {
							margin-bottom: 40px;
							.input_block {
								margin-bottom: 40px;
							}
						}
						.submit_box {
							.submit {
								font-size: 12px;
								padding-top: 18px;
								padding-bottom: 18px;
								letter-spacing: 1px;
							}
						}
					}
				}
			}
		}
	}
	.about .advantage .list:not(:last-child) {
	    padding-right: 40px;
	}
}

@media (max-width: 992px) {
	.wrapper {
		width: calc(100%-50px);
	}
	.header {
		.bg_header {
			.top_header {
				flex-wrap: wrap;
				.logo {
					width: 100%;
					text-align: center;
					order: 1;
					margin-bottom: 20px;
				}
				.phone {
					order: 2;
					a {
						font-size: 20px;
					}
				}
				.email {
					order: 3;
					a {
						.icon {
							font-size: 18px;
						}
						font-size: 16px;
					}
				}
			}
			.nav {
				margin-bottom: 30px;
				ul {
					height: 40px;
					li {
						a {
							font-size: 12px;
							line-height: 40px;
							padding: 0 10px;
						}
					}
				}
			}
			.center_box {
				.left_section {
					width: 65%;
					.title {
						font-size: 28px;
						line-height: 30px;
						margin-bottom: 20px;
					}
					.sub_title {
						font-size: 16px;
						line-height: 18px;
					}
					.btn_click {
						font-size: 14px;
						line-height: 50px;
						padding: 15px 80px;
					}
				}
				.right_section {
					width: 35%;
					.form_block {
						padding: 20px 15px;
						.title_form {
							font-size: 12px;
							line-height: 16px;
						}
						.input_box {
							margin-bottom: 30px;
							.input_block {
								margin-bottom: 30px;
							}
						}
						.submit_box {
							.submit {
								font-size: 12px;
								padding-top: 13px;
								padding-bottom: 13px;
								letter-spacing: 1px;
							}
						}
					}
				}
			}
		}
	}
	.about .title_about {
		font-size: 36px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.about .about_text {
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 50px;
	}
	.about .advantage .list .title_block .title_advantage {
		font-size: 18px;
	}
	.about .advantage .list .advantage_text {
		font-size: 14px;
		line-height: 18px;
	}
}

@media (max-width: 768px) {
	.overflow {
		overflow-y: hidden;
	}
	.header {
		.bg_header {
			.top_header {
				flex-wrap: wrap;
				padding-bottom: 30px;
				.logo {
					width: 100%;
					order: 1;
					margin-bottom: 20px;
					.logo_desktop {
						display: none;
					}
					.logo_mobile {
						display: block;
						margin: 0 auto;
					}
				}
				.phone {
					order: 2;
					a {
						font-size: 20px;
					}
				}
				.email {
					order: 3;
					a {
						.icon {
							font-size: 18px;
						}
						font-size: 16px;
					}
				}
			}
			.nav_btn {
				position: absolute;
				top: 20px;
				right: 20px;
				cursor: pointer;
				transition: all 0.3s;
				z-index: 90;
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				&.nav-active .one {
				    -webkit-transform: rotate(45deg) translate(6px, 5px);
				        -ms-transform: rotate(45deg) translate(6px, 5px);
				         -o-transform: rotate(45deg) translate(6px, 5px);
				            transform: rotate(45deg) translate(6px, 5px); 
				}
				&.nav-active .two {
	 				opacity: 0; 
	 			}
	 			&.nav-active .three {
				    -webkit-transform: rotate(-45deg) translate(10px, -10px);
				        -ms-transform: rotate(-45deg) translate(10px, -10px);
				         -o-transform: rotate(-45deg) translate(10px, -10px);
				            transform: rotate(-45deg) translate(10px, -10px); 
				}
				span {
					display: inline-block;
					width: 40px;
					height: 4px;
					background-color: #fff;
					transition: all 0.3s;
					&:not(:last-child) {
					  margin-bottom: 7px;
					}
				}
			}
			.nav {
				position: fixed;
				z-index: 10;
				right: -100%;
				top: 0;
				height: 100%;
				transition: all 200ms ease-in-out;
				ul {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					height: 100% !important;
					li {
						margin-bottom: 0px;
					}
				}
				

				&.nav-active {
					right: 0;
					transition: all 200ms ease-in-out;
					overflow-y: hidden;
				}
				ul {
					height: 40px;
					li {
						a {
							font-size: 12px;
							line-height: 40px;
							padding: 0 10px;
						}
					}
				}
			}
			.center_box {
				.left_section {
					width: 65%;
					.title {
						font-size: 26px;
						line-height: 28px;
						margin-bottom: 20px;
					}
					.sub_title {
						font-size: 16px;
						line-height: 18px;
					}
					.btn_click {
						font-size: 14px;
						line-height: 50px;
						padding: 15px 60px;
					}
				}
				.right_section {
					width: 35%;
					.form_block {
						padding: 20px 15px;
						.title_form {
							font-size: 10px;
							line-height: 16px;
						}
						.input_box {
							margin-bottom: 30px;
							.input_block {
								margin-bottom: 30px;
							}
						}
						.submit_box {
							.submit {
								font-size: 12px;
								padding-top: 10px;
								padding-bottom: 10px;
								letter-spacing: 1px;
							}
						}
					}
					.soc_box .soc_text {
						font-size: 10px;
					}
				}
			}
		}
	}

	.about {
		.advantage_slider {
		
		}
	}

	.about .advantage .list .title_block .title_advantage {
		font-size: 16px;
	}
	.slick-next::before, .slick-prev::before {
		color: #000;
	}
}

@media (max-width: 576px) {
	.header .bg_header .top_header {
		padding-top: 10px;
		justify-content: center;
		.phone {
			margin-bottom: 20px;
			width: 100%;
			text-align: center;
		}
	}
	.header .bg_header .nav ul li {
		margin-bottom: 30px;
	}
	.header .bg_header .center_box {
		flex-wrap: wrap;
		.left_section {
			width: 100%;
			margin-bottom: 30px;
			text-align: center;
			.title {
				text-align: left;
				font-size: 24px;
			}
			.btn_click {
				padding: 15px 40px;
			}
		}
		.right_section {
			width: 100%;
		}
	}
	.header .bg_header .center_box .right_section .form_block .submit_box .submit {
	    font-size: 14px;
	    padding: 15px 60px;
	}
	.header .bg_header .center_box .left_section .sub_title {
	    text-align: left;
	}
	.about .advantage .list .advantage_text {
		text-align: left;
	}
	.about .advantage .list .title_block {
		justify-content: center;
		flex-direction: column;
		height: 100%;
		.title_advantage {
			margin-top: 15px;
		}
	}
	.about .advantage .slick-slide {
		padding: 0 10px;
	}
	.about .advantage .list .title_block .title_advantage {
		padding-left: 0;
	}
}