<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Uson</title>
    <link rel="stylesheet" href="assets/styles/main.min.css">
</head>
<body>

	<header class="header">
		<div class="bg_header">
			<div class="wrapper">
				<div class="top_header">
					<div class="logo">
						<a href="#">
							<img class="logo_desktop" src="assets/images/logo.png" alt="Logo">
							<img class="logo_mobile" src="assets/images/logo_mobile.png" alt="Logo_mobile">
						</a>
					</div>
					<div class="phone">
						<a href="tel:88129692520"><span class="icon"><i class="fas fa-phone-alt"></i></span>8 (812) 969-25-20</a>
					</div>
					<div class="email">
						<a href="mailto:kozlovauson@gmail.com"><span class="icon"><i class="fas fa-envelope"></i></span>kozlovauson@gmail.com</a>
					</div>
				</div>
				<div class="nav_btn">
					<span class="one"></span>
					<span class="two"></span>
					<span class="three"></span>
				</div>
				<nav class="nav">
					<ul>
						<li><a href="#">Главная</a></li>
						<li><a href="#">О компании</a></li>
						<li><a href="#">Услуги</a></li>
						<li><a href="#">Статистика</a></li>
						<li><a href="#">Отзывы</a></li>
						<li><a href="#">Партнеры</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</nav>
				<div class="center_box">
					<div class="left_section">
						<h2 class="title"><span class="caps">Профессионально, быстро, выгадно </span>поможем вам продать или купить квартиру, комнату, или загородный дом <br> в Санкт-Петербурге и Ленинградской области.</h2>
						<p class="sub_title">Внимательная индивидуальная работа, конфиденциальность, юридическая поддержка, бесплатные консультации.</p>
						<a href="#" class="btn_click">Написать письмо</a>
					</div>
					<div class="right_section">
						<div class="form_block">
							<span class="title_form">Бесплатная консультация по телефону</span>
							<form action="#">
								<div class="input_box">
									<div class="input_block">
										<input type="text" id="your_name" class="input_name" name="your_name" placeholder="ФИО" required>
									</div>
									<div class="input_block">
										<input type="tel" id="your_phone" class="input_phone" name="your_phone" placeholder="Номер вашего телефона" required>
									</div>
									<div class="input_block">
										<input type="email" id="your_email" class="input_email" name="your_email" placeholder="E-mail" required>
									</div>
								</div>
								<div class="submit_box">
									<input type="submit" class="submit" value="Отправить">
								</div>
							</form>
						</div>
						<div class="soc_box">
							<span class="soc_text">Наши группы в социальных сетях</span>
							<div class="social">
								<a class="round facebook" href="#"><i class="fab fa-facebook-f"></i></a>
								<a class="round twitter" href="#"><i class="fab fa-twitter"></i></a>
								<a class="round vk" href="#"><i class="fab fa-vk"></i></a>
								<a class="round youtube" href="#"><i class="fab fa-youtube"></i></a>
								<a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</header>

	<section class="about">
		<div class="wrapper">
			<h1 class="title_about">О компании</h1>
			<p class="about_text">Задача организации, в особенности же консультация с широким активом в значительной степени обуславливает создание новых предложений. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации позиций, занимаемых участниками в отношении поставленных задач. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание модели развития. Повседневная практика показывает, что сложившаяся структура организации представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</p>
			<div class="advantage_slider">
				<div class="slider_navigation"></div>
				<div class="advantage">
					
					<div class="list">
						<div class="title_block">
							<img src="assets/images/icon1.png" alt="icon">
							<h3 class="title_advantage">Профессионализм</h3>
						</div>
						<p class="advantage_text">На рынке недвижимости с 2013 года! Опыт, накопленный за это время, даёт нам возможность компетентно работать в своей сфере на достаточно высоком профессиональном уровне с любыми видами объектов.</p>
					</div>
					<div class="list">
						<div class="title_block">
							<img src="assets/images/icon2.png" alt="icon">
							<h3 class="title_advantage">Удобство</h3>
						</div>
						<p class="advantage_text">Мы оказываем полный спектр риэлторских услуг по загородной, жилой, коммерческой недвижимости. Это продажа и покупка, поиск (подбор) объекта недвижимости, сопровождение сделок, консультации с опытными юристами, маркетологами и специалистами по недвижимости.</p>
					</div>
					<div class="list">
						<div class="title_block">
							<img src="assets/images/icon3.png" alt="icon">
							<h3 class="title_advantage">Качество</h3>
						</div>
						<p class="advantage_text">Качественные и высокопрофессиональные услуги за реальные деньги, юридическая грамотность в оформлении документов, гарантия чистоты любой сделки и конфиденциальность</p>
					</div>
				</div>
			</div>
			
		</div>
	</section>
  


	<script src="assets/scripts/vendors.bundle.js"></script>
	<script src="assets/scripts/works.bundle.js"></script>

</body>
</html>